* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    /* Divisão das colunas */
    grid-template-rows: 70px 1fr;
    /* Divisão das linhas */
    height: 100vh;
    /* Definir altura total da página */
}
.container.menu-clicked .container {
    grid-template-columns: 80px auto;
    grid-column: 2;


}

.container.menu-clicked .LogoPanel{
    display: none;
}
.container.menu-clicked .mainPanel{
    grid-column: 2;
}
.container.menu-clicked .navbar{
    grid-column: 1 / span 2;
}



@media (max-width: 1000px) {
    .container {
        grid-template-columns: 80px auto; /* Alterado para 40px e auto */
      }
  
    .LogoPanel{
        display: none;
    }
    .mainPanel {
        grid-column: 2;
            
    }
    .navbar{
        grid-column: 1 / span 2;
    }
   
}