* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 250px 1fr;
    /* Divisão das colunas */
    grid-template-rows: 70px 1fr;
    /* Divisão das linhas */
    height: 100vh;
    /* Definir altura total da página */
}

@media (max-width: 1000px) {
    .sidebar{
        /*display: none;*/
        width: 40px;
    }
    .LogoPanel{
        display: none;
    }
    .mainPanel {
            grid-column: 1 / span 2;
            /* Ocupa duas colunas */
    }
    .navbar{
        grid-column: 1 / span 2;
    }
}